HOST=0.0.0.0
PORT=3000

DB_HOST=
DB_PORT=
DB_USERNAME=
DB_PASSWORD=
DB_DATABASE=

JWT_SECRET_KEY="I_WANT_TO_BE_PART_OF_THE_INDT_TEAM"

SECRET_ENCRYPT_AND_DECRYPT="SECRET_"

EMAIL_SERVICE="gmail"
EMAIL_HOST="smtp.gmail.com"
EMAIL_PORT=587
EMAIL_MAIL="testeindtmail@gmail.com"
PASSWORD_MAIL="ptgnxvracvneflbp "