<table role="presentation" border="0" cellpadding="0" cellspacing="0" >
    <tbody>
        <tr>
            <td></td>
            <td >
                <div >
                    <table role="presentation" >
                        <tbody>
                            <tr>
                                <td >
                                    <table role="presentation" border="0" cellpadding="0" cellspacing="0">
                                        <tbody>
                            
                                            <tr>
                                                <td>
                                                    <h2 style="text-align:center"><b>Redefinição de Senha</b></h2>
                                                    <h3><b>Olá, <span>Sr(a). <%= name %> </span></b></h3>
                                                    <p>Foi solicitada a troca de senha por esquecimento em
                                                        <span><%= date %></span>.
                                                    </p>
                                                    <br>
                                                    <p>Se você não solicitou a troca da senha, por favor ignore este
                                                        email.</p>
                                                    <p>Para realizar a troca de senha utilize o token abaixo.</p>
                                                    <p style="color:orange">O token tem validade de 20 Minutos. Após este
                                                        tempo o mesmo se tornará inválido.</p>
                                                    <br>
                                                    
                                                    <table role="presentation" border="0" cellpadding="0"
                                                        cellspacing="0"
                                                        >
                                                        <tbody>
                                                            <tr>
                                                                <td align="center">
                                                                    <table role="presentation" border="0"
                                                                        cellpadding="0" cellspacing="0">
                                                                        <tbody>
                                                                            <tr>
                                                                                <%= token %>
                                                                            </tr>
                                                                        </tbody>
                                                                    </table>
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                    <br>
                                                    <p style="text-align:center"><small>Esta é uma mensagem automática.
                                                            Favor não responder.</small></p>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="m_5328200707265535299footer">
                        <table role="presentation" border="0" cellpadding="0" cellspacing="0">
                            <tbody>
                                <tr>
                                
                                </tr>
                                <tr>
                        
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </td>
            <td>&nbsp;</td>
        </tr>
    </tbody>
</table>